@import "variables.scss";

.social-icons {
  margin: 20px 0;
  ul {
    li {
      display: inline;
      font-size: 40px;
      padding-right: 30px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
