@import "variables.scss";

html {
  font-size: 100%;
}

body {
  background-color: $blue;
  color: $gray;
  font-family: "Raleway";
  letter-spacing: 3px;
}

a {
  color: $gray;

  &:hover {
    color: $green;
  }
}

a,
button {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button {
  outline: none;
}

hr {
  background-color: $gray;
}

h1 {
  font-size: 3vw;

  @include mobile {
    font-size: 6vw;
  }

  span {
    font-weight: 800;
  }
}

h2 {
  font-size: 2vw;

  @include mobile {
    font-size: 5vw;
  }
}

img {
  width: 100%;
}
